.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}
.chatOnlineImgContainer{
    position: relative;
    margin-right: 10px;
}
.chatOnlineImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.chatOnlineBadge{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 1px solid white;
    background-color: limegreen;
    position: absolute;
}
